@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}


:root {

    --cor1 : rgb(206, 151, 12);
    --cor2 : black;

}


html,body {
    background-color: white;
    
     
}



header {
    width: 100vw;
    color: white;
    text-align: center;
    background-color:  var(--cor1);
    padding-bottom: 10px;
    height: 150px;
}
header > h1{
    padding-top: 50px;  
    font-size: 10vh;
}

nav {
    color: white;    
    background-color: var(--cor2); 
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
    
}


nav > a {
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
       
}

.nav{
     
    display: flex;
    justify-content: center;
    align-items: center;    

}

nav a:hover {
    background-color: var(--cor1);
    border-radius: 5px 5px;
    transition: 1s;  
    color: white;
    text-decoration: none;
    
}
main{
    background-color: white;
    padding: 8px;
    margin-top: 20px;
    padding-bottom: 30px;     
    min-width: 400px ;
    max-width: 1500px; 
  
 }

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section.imagem {
    background-color: rgb(85, 83, 83);
    color: white;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

section#img1 {
    background-image: url("imagens/background001.jpg");
    background-position: right center;
}

section#img2 {
    background-image: url("imagens/background002.jpg");
}

article {
    box-shadow: 0px 0px 6px  black;
    background-color:  black;
    height: 400px;
}

 article > p > a {
  
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

article > h1 {
    color: white;
    text-align: center;
    font-size: 2em;

}

article a {
    display: flex;
    align-items: left top;
    flex-direction: column;
    align-items: center ;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
}

a:hover {
    color: var(--cor1);
    text-decoration: underline;
    transition: 0.5s; 
    

}
article > div {
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 1.2em;
    font-weight: bolder;
    height: 300px;
    width: 300px;
}

.container1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 350px;
    
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;  
    padding-left: 25px;
    padding-right: 15px;  
   
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;    
    padding-left: 25px;
    padding-right: 15px;
}


 
.pe > h1 {
    padding: 25px;
}

  div.menu {
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--cor1);
    width:300px;
    height: 400px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
 .container2 img {
    width: 100%;
    height: 50%;
    object-fit: cover ;
    
}

.container2  p {
    text-shadow: 1px 1px black;
    color: white;
    font-size: 3em;
    font-weight: bold;
}
.container2 h1{
    font-size: 3em;
}

footer {
    
    height: 10vh;
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 10px;

}