@charset "UTF-8";

   
     header{
        background-color:rgb(4, 136, 245);
        min-height: 100px;
        text-align: center;
        padding: 30px;
      
        }
     header p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        
        }
        header h1 {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 30px;
            text-align: center;
            
            }
         
     
     body{
         
        margin: 0px;
        padding: 0px;
        background-color: white ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 0px;
        padding-bottom: 50px;
        

        
       
     }
     main{
        background-color: white;
        padding: 8px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 30px;     
        min-width: 400px ;
        max-width: 1500px;
        
        
        
      
     }
     .container {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;

      }
    
      @media (max-width: 700px) {
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
      }

      .container > {
        width: 100px;
        max-width: 400px;
        margin: 10px 0;
        text-align: center;
      }
      
     div.quadrado{
            
            border: 2px solid black;
            border-radius: 10px;
            background-color: lightgray;
            width: 250px;
            height: 400px;
            margin-right: 10px;
            margin-top: 30px;
            margin-bottom: 30px;
          
        }

        div > #q01 {
             text-align: center;
             background-color: rgba(252, 249, 249, 0.877);
             padding: 5px;
             border-radius: 10px 10px;
             bottom: -84%;
             position: relative;
        
        }
        

        
       

        p > a {
            background-color: rgb(4, 136, 245);
            position: relative;
            right: -60px;
            color: white;         
            border-radius: 18px;
            text-decoration: none;
            text-transform: inherit;
            border: 1px black solid;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
           
        }

        p > a:hover{
            background-color: green;
            transition-duration: 1s;

        }
            p#p1{
                position: relative;
                bottom: 17%;
                right: 1%;
            
                
                
                
              
            }
            p#p2{
                position: relative;
                bottom: 17%;
                right: 1%;
               
            }
            p#p3{
                position: relative;
                bottom: 17%;
                right: -6%;
               
            }
            p#p4{
                position: relative;
                bottom: 17%;
                right: -5%;
               
            }
            p#p5{
                position: relative;
                bottom: 17%;
                right: -1%;
               
            
            }
            p#p6{
                position: relative;
                bottom: 17%;
                right: -6%;
               
            }
            p#p7{
                position : relative;
                bottom: 17%;
                right: -1%;
               
               
            }
            p#p8{
                position: relative;
                bottom: 17%;
                right: -1%;
               
               
            }
            p#p9{
                position: relative;
                bottom: 17%;
                right: 5%;
               
            }
            p#p10{
                position: relative;
                bottom: 17%;
                right: -4%;
               
            }
            
            div img {
              
               max-width: 100%;
               object-fit:cover;  
               
            }

            p#py {
                position: relative;
                top: -78px;
                background-color:lightgray; 
                padding: 10px;
                border-radius: 10px 10px;
                margin-bottom:  0px ;
                text-align: center;
                text-decoration: solid;
                font-family: Arial, Helvetica, sans-serif;

            }
          
          